apiVersion: v1
kind: ConfigMap
metadata:
  name: grud-grafana-datasources
  namespace: infra
  labels:
    grafana_datasource: "1"
data:
  datasources.yaml: |-
    apiVersion: 1
    datasources:
    - name: Loki
      type: loki
      uid: loki
      url: http://loki-gateway.infra.svc.cluster.local
      access: proxy
      isDefault: false
      jsonData:
        derivedFields:
        - name: TraceID
          matcherRegex: 'trace_id.*?([a-f0-9]{32})'
          url: ${__value.raw}
          datasourceUid: tempo
          urlDisplayLabel: View Trace
    - name: Tempo
      type: tempo
      uid: tempo
      url: http://tempo.infra.svc.cluster.local:3200
      access: proxy
      isDefault: false
      jsonData:
        tracesToLogsV2:
          datasourceUid: loki
          spanStartTimeShift: '-1h'
          spanEndTimeShift: '1h'
          filterByTraceID: true
          filterBySpanID: false
          tags:
          - key: service
            value: service_name
        tracesToMetrics:
          datasourceUid: prometheus
        serviceMap:
          datasourceUid: prometheus
        nodeGraph:
          enabled: true
        lokiSearch:
          datasourceUid: loki
