{{- if and .Values.secrets (default false .Values.secrets.useExternalSecrets) }}
---
# Kubernetes ServiceAccount for External Secrets Operator
apiVersion: v1
kind: ServiceAccount
metadata:
  name: grud-secrets-sa
  namespace: {{ .Values.global.namespace }}
  annotations:
    iam.gke.io/gcp-service-account: grud-secrets-sa@{{ .Values.secrets.gcp.projectId }}.iam.gserviceaccount.com
  labels:
    app: apps
    component: secrets
{{- end }}
