# Base service template
# Service-specific values are patched via overlays
apiVersion: v1
kind: Service
metadata:
  name: service
  labels:
    app.kubernetes.io/component: api
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
      nodePort: 30000
  selector:
    app: service
